* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;

    display: flex;
}

#sidebar {
    margin: 0;
    padding: 0;
    display: block;
    float: left;

    width: 200px;
    min-width: 100px;

    resize: horizontal;
    overflow: auto;

    background-color: #242059;
}

ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

li {
    margin: 0;
    padding: 0 10px;
    line-height: 2;
    text-align: left;
    color: white;
    background-color: #242059;

    overflow: hidden;
    text-overflow: ellipsis;
}

li p {
    text-overflow: ellipsis;
}


li:hover {
    background-color: #524CA6;
}

#textbox {
    margin: 0;
    padding: 0;

    display: block;
    float: left;
    flex: 1;
}

#textbox textarea {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    resize: none;
}
